
:root {
    --turquoise: #007382;
    --lighter-sea: #024F5B;
    --deep-sea: #013440;
    --bright-yellow: #D6DE23;
    --salmon: #FF635F;
    --light-gray: #F2F2F4;
    --dark-gray: #404041;
    /*responsive*/
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Helvetica, 'Arimo';
    font-weight: 700;
    overflow-x: hidden;
}

h1, h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

i {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.firefly-header h1{
    color: var(--deep-sea);
    font-size: 3.5rem;
    text-transform: capitalize;
    position: fixed;
    left: 5.5%;
    padding: 32px 0 15vh 0;
    z-index: 5;
}

/*********** ASIDE LEFT *************/

.aside-left {
    position: relative;
}

.center-soc {
    position: absolute;
    top: 50%;
    left: 40%;
    writing-mode: tb-rl;
    display: flex;
    justify-content: center;
    z-index: 5;
    font-size: 1.4rem;
}

#rotated-contact {
    position: fixed;
    display: inline-block;
    white-space: nowrap;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-size: 0.8em;
    z-index: 5;
    color: var(--turquoise);
    top: 45vh;
    left: 3.2%;
    font-weight: lighter;
    transition: all 0.5s ease-in-out;
}

.fixed-column {
    position: fixed;
}

/************** NAVIGATION **************/

.aside-right {
    position: relative;
    display: inline-block;
}

.sidebar {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.sidebar li {
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    margin: 47px 0;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
}

.sidebar a:not(:first-child) li:after {
    content: "";
    display: block;
    width: 1px;
    height: 47px;
    background-color: var(--deep-sea);
    transform: rotate(135deg);
    transform-origin: top center;
    pointer-events: none;
}

.inactive-1 {
    border: 2px solid var(--turquoise);
    background-color: var(--turquoise);
}

.active-1 {
    background-color: var(--bright-yellow);
    border: 2px solid var(--bright-yellow);
    box-shadow: 0 0 10px var(--bright-yellow);
}

/* .active-2 {
    background-color: white;
    border: 2px solid white;
} */

.hamburger {
    right: 7%;
    top: 32px;
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 3;
}

.hamburger div{
    width: 35px;
    height: 5px;
    margin: 6px 0;
    border-radius: 3px;
    background-color: var(--turquoise);
    transition: all 0.5s ease-in-out;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(214, 222, 35, 0.7);
    /* background-color: rgba(255, 99, 95, 0.5); */
    z-index: 6;
    transition: 0.7s all ease-in-out;
    margin-left: 100vw;
}

.overlay:hover {
    cursor: url(../symbol/close-symbol.svg), auto;
}

.nav-wrapper {
    position: absolute;
    right: -30%;
    height: 100%;
    width: 30%;
    background-color: rgba(0, 115, 130, 0.7);
    transition: 0.4s all ease-in-out;
    transition-delay: 0.3s;
    z-index: 7;
}

.nav-inner-wrapper {
    height: 90%;
    width: 60%;
    margin: 20vh auto;
    list-style: none;
}

/* TODO: add sequential animation delay */
.nav-inner-wrapper li {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--light-gray);
}

.nav-inner-wrapper i {
    color: var(--deep-sea);
    margin-right: 20px;
}
/***********************************/
/****** SECTION SPLIT LAYOUT *******/
/***********************************/

.column.middle {
    width: 84%;
    display: flex;
    margin-top: 25vh;
    margin-left: 8%;
}

.column {
    float: left;
    height: 60vh;
}

.column.aside-left {
    font-size: 1rem;
}

.split-left {
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.split-right {
    width: 50%;
    position: relative;
}

.text-container {
    font-size: 1.5rem;
    position: relative;
    display: block;
    text-align: left;
    padding: 0 8% 0 10%;
}

.text-container p {
    font-size: 0.6em;
    font-weight: lighter;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

/* TODO: add media query for flex-tiles */
.flex-tiles {
    display: -webkit-box;
    display: flex;
    position: relative;
    left: -10%;
    padding: 10%;
}

.flex-tiles img {
    max-width: 170px;
    height: 170px;
    margin-right: 3vw;
}

.more {
    width: 50px;
}

.more-projects {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.more-projects p {
    white-space: nowrap;
    margin-left: -25px;
    color: var(--light-gray);
}

.icons {
    position: fixed;
    left: 3%;
    bottom: 6vh;
    font-weight: 400;
}

.icons a {
    padding-top: 6px;
    color: var(--turquoise);
}

.split-right-header {
    color: var(--light-gray);
    padding: 0 20px 40px 5px;
    font-size: 3rem;
    white-space: nowrap;
}

.down-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vh;
}


/**************** LANDING *******************/

.landing {
    height: 100vh;
    width: 100%;
    position: relative;
}

.left {
    background-color: white;
    height: 100vh;
    width: 50%;
    float: left;
    z-index: 0;
}

.right {
    background-color: var(--light-gray);
    height: 100vh;
    width: 50%;
    float: left;
    z-index: 0;
}

.landing-header {
    font-size: 12rem;
    color: var(--deep-sea);
}

#arrows {
    width: 38px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#landing-code-header {
    position: absolute;
    top: 15%;
    right: 50%;
}

#landing-design-header {
    position: absolute;
    bottom: 25%;
}

#crocs {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.9rem;
    font-weight: lighter;
    color: #011519;
}

#grass {
    position: absolute;
    bottom: 0;
    right: 0;
}

#fireflies {
    position: absolute;
    top: 8vh;
    left: 1vw;
}


/************ TYPOGRAPHY SECTION ************/

.typography {
    position: relative;
    background-color: var(--bright-yellow);
    height: 100vh;
    width: 100%;
}

.typography .more-projects p{
    color: var(--deep-sea);
}

.typography .split-left {
    background-image: url(../img/typoimg.jpg);
}


/********** UI / UX PROTOTYPE ***************/

.uiprototype {
    position: relative;
    background-color: var(--salmon);
    height: 100vh;
    width: 100%;
}

.uiprototype .split-left {
    background-image: url(../img/designimg.jpg);
}


/**************** BRANDING ******************/

.branding {
    position: relative;
    background-color: var(--turquoise);
    height: 100vh;
    width: 100%;
}

.branding .split-left {
    background-image: url(../img/brandimg.jpeg);
}


/************ CONTACT SECTION ***************/

.contact {
    height: 35vh;
    width: 100%;
    background-color: var(--light-gray);
}

.contact h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 15px;
}

.contact p {
    font-size: 15px;
}

.contact ul {
    flex: 1;
    margin-right: 10vw;
}

.contact li {
    list-style: none;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: lighter;
}

.center-contact {
    display: flex;
    margin: 0 auto;
    padding-top: 6vh;
    width: 84%;
    height: 80%;
}

.logo {
    position: absolute;
    right: 60px;
    width: 270px;
}

.logo p {
    margin-left: 17px;
}
