:root {
    --turquoise: #007382;
    --lighter-sea: #024F5B;
    --deep-sea: #013440;
    --bright-yellow: #D6DE23;
    --salmon: #FF635F;
    --light-gray: #F2F2F4;
    --dark-gray: #404041;
    /*responsive*/
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Helvetica, 'Arimo';
    font-weight: 700;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

i {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.firefly-header h1{
    color: var(--deep-sea);
    font-size: 3.5rem;
    text-transform: capitalize;
    position: fixed;
    left: 5.5%;
    padding: 32px 0 15vh 0;
    z-index: 5;
    transition: 0.4s;
}


/*********** ASIDE LEFT *************/

.icons {
    position: fixed;
    display: block;
    width: 25px; /* writing-mode produces unexpected behavior, make them sit on top of each other */
    text-align: center;
    z-index: 4;
    font-size: 1.5rem;
    bottom: 6vh;
    font-weight: lighter;
    left: 48px; /* align manually with rotated contact*/
}

.icons i {
    margin-top: 2vh;
}

.icons i:hover {
    transform: scale(1.1);
    text-shadow: 0 2px 1px black;
}

#rotated-contact {
    position: fixed;
    display: inline-block;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 0.8em;
    z-index: 5;
    color: var(--turquoise);
    top: 40%;
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
    font-weight: lighter;
}

.flex {
    display: flex;
    flex-direction: row;
}

/************** NAVIGATION **************/

.sidebar {
    position: fixed;
    right: 50px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 3;
}

.sidebar li {
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    margin: 47px 0;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
}

.sidebar a:not(:first-child) li:after {
    content: "";
    display: block;
    width: 1px;
    height: 47px;
    background-color: var(--deep-sea);
    transform: rotate(135deg);
    transform-origin: top center;
    pointer-events: none;
}

.inactive-1 {
    border: 2px solid var(--turquoise);
    background-color: var(--turquoise);
}

.inactive-2 {
    border: 2px solid var(--deep-sea);
    background-color: var(--deep-sea);
}

/* IDEA: pulsating active nav glow */

.active-1 {
    background-color: var(--bright-yellow);
    border: 2px solid var(--deep-sea);
    box-shadow: 0 0 10px 4px var(--bright-yellow);
}

.active-2 {
    background-color: white;
    border: 2px solid var(--deep-sea);
    box-shadow: 0 0 10px 4px white;
}

.hamburger {
    right: 6%;
    top: 32px;
    width: 50px;
    height: 36px;
    position: fixed;
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;
}

#hamburger-svg {
    fill: var(--turquoise);
    transition: all 0.5s ease-in-out;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: rgba(214, 222, 35, 0.7); */
    /* background-color: rgba(255, 99, 95, 0.5); */
    z-index: 5;
    transition: 0.7s all ease-out;
    will-change: transform;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.translucent {
    opacity: 0.4;
    filter: blur(1px);
    transition: 0.5s ease-in-out;
}

.blurred {
    filter: blur(1px);
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.overlay-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.overlay:hover {
    cursor: url(../symbol/close-symbol.svg), auto;
}

.nav-wrapper {
    position: fixed;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: rgba(0, 115, 130, 0.7);
    transition: all 2s cubic-bezier(.19, 1, .22, 1) .2s;
    /* transition: 0.4s all ease-in-out;
    transition-delay: 0.3s; */
    z-index: 6;
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.nav-wrapper-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.nav-inner-wrapper {
    height: 90%;
    width: 60%;
    margin: 18vh auto;
    list-style: none;
    font-size: 2rem;
}

.nav-inner-wrapper li {
    margin-bottom: 60px;
    text-transform: uppercase;
    color: var(--light-gray);
}

.nav-wrapper i {
    color: var(--deep-sea);
    margin-right: 20px;
}

.nav-inner-wrapper i:hover{
    transform: scale(1.1);
    text-shadow: 0 2px 1px var(--deep-sea);
}


/************* SECTION SPLIT LAYOUT ************/

.column.middle {
    width: 84%;
    display: flex;
    margin-top: 25vh;
    margin-left: 8%;
}

.column {
    float: left;
    height: 60vh;
}

.split-left {
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.split-right {
    width: 50%;
    position: relative;
}

.text-container {
    font-size: 1.5rem;
    position: relative;
    display: block;
    text-align: left;
    padding: 0 8% 0 10%;
}

.text-container p {
    font-size: 0.6em;
    font-weight: lighter;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

.flex-tiles {
    display: -webkit-box;
    display: flex;
    position: relative;
    left: -10%;
    padding: 10%;
}

.flex-tiles img {
    max-width: 170px;
    height: 170px;
    margin-right: 3vw;
}

.more {
    width: 50px;
}

.more-projects {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.more-projects p {
    white-space: nowrap;
    margin-left: -25px;
    color: var(--light-gray);
}

.icons a {
    padding-top: 6px;
    color: var(--turquoise);
}

.split-right-header {
    color: var(--light-gray);
    padding: 0 20px 40px 5px;
    font-size: 3rem;
    white-space: nowrap;
}

.down-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vh;
}


/**************** LANDING *******************/

.landing {
    height: 100vh;
    width: 100%;
    position: relative;
}

.left {
    position: absolute;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 50%;
    z-index: 1;
}

.right {
    position: absolute;
    right: 0;
    background-color: var(--light-gray);
    height: 100vh;
    width: 50%;
    z-index: 1;
}

.gutter {
    position: absolute;
    height: 100%;
    width: 1px;
    display: block;
    /* background-color: var(--deep-sea); */
    top: 0;
    left: 50%;
    z-index: 3;
}

.landing-header {
    font-size: calc(11vw);
    color: var(--deep-sea);
}

#arrows {
    width: 38px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    cursor: grab;
    z-index: 4;
}

#landing-code-header {
    position: absolute;
    top: calc(15% - 2vh);
    right: 0;
    margin-right: -10px;
    z-index: 4;
}

#landing-design-header {
    position: absolute;
    bottom: calc(25% - 2vh);
    margin-left: -13px;
}

#crocs {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.9rem;
    font-weight: lighter;
    color: #011519;
    z-index: 4;
    transition: 0.4s;
}

#grass {
    position: absolute;
    bottom: 0;
    right: 0;
}

#fireflies {
    position: absolute;
    top: 8vh;
    left: 1vw;
}


/************ TYPOGRAPHY SECTION ************/

.typography {
    position: relative;
    background-color: var(--bright-yellow);
    height: 100vh;
    width: 100%;
}

.typography .more-projects p{
    color: var(--deep-sea);
}

.typography .split-left {
    background-image: url(../img/typoimg.jpg);
}


/********** UI / UX PROTOTYPE ***************/

.uiprototype {
    position: relative;
    background-color: var(--salmon);
    height: 100vh;
    width: 100%;
}

.uiprototype .split-left {
    background-image: url(../img/designimg.jpg);
}


/**************** BRANDING ******************/

.branding {
    position: relative;
    background-color: var(--turquoise);
    height: 100vh;
    width: 100%;
}

.branding .split-left {
    background-image: url(../img/brandimg.jpeg);
}


/************ CONTACT SECTION ***************/

.contact {
    height: 35vh;
    width: 100%;
    background-color: var(--light-gray);
}

.contact h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 15px;
}

.contact p {
    font-size: 15px;
}

.contact ul {
    flex: 1;
    margin-right: 10vw;
}

.contact li {
    list-style: none;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: lighter;
}

.center-contact {
    display: flex;
    margin: 0 auto;
    padding-top: 6vh;
    width: 84%;
    height: 80%;
}

.logo {
    position: absolute;
    right: 60px;
    width: 270px;
}

.logo p {
    margin-left: 17px;
}


/* @media screen and (max-width: 1200px) {
    .landing-header {
        font-size: 8rem;
    }
} */

@media (max-height: 700px) {
    #crocs {
        opacity: 0;
    }
    .firefly-header h1{
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .sidebar {
        top: 50%;
        right: 10px;
    }
    #rotated-contact {
        left: -25px;
    }
    .icons {
        left: 20px;
    }
}

@media (max-width: 1300px) {
    .flex-tiles {
        display: none;
    }
    .split-right-header {
        white-space: normal;
    }
}

@media (max-height: 760px) {
    .sidebar {
        top: 50%;
    }

    .flex-tiles {
        display: none;
    }

    .more-projects {
        margin-top: 10%;
    }
}
